body, html {
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: hidden;
    display: flex;
}

.d-flex {
    display: flex;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

aside {
    background-color: #1992d4;
    height: 100%;
    width: 15%;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 1px rgba(194,194,194,1);
}

.comp-logo {
    gap: 15px;
    align-items: center;
}

.tabs {
    margin-top: 60px;
    flex-direction: column;
    gap: 20px;
}

.tabs div {
    display: flex;
    gap: 20px;
    align-items: center;
}

.configs {
    margin-top: 80px;
    gap: 20px;
    flex-direction: column;
}

.configs div {
    display: flex;
    gap: 20px;
    align-items: center;
}

main {
    width: 100%;
    background-color: #e2e8f0;
}

nav {
    background-color: white;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 90px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 5px 0.5px rgba(0,0,0,0.75);
}

.upper-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.upper-nav input {
    background-color: #e2e8f0;
    border: none;
    outline: none;
    height: 36px;
    border-radius: 20px;
    padding-left: 20px;
    width: 100%;
}

#small-pfp {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    object-fit: cover;
}

#big-pfp {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    object-fit: cover;
}

.profile {
    margin-top: 40px;
}

.profile .user {
    gap: 20px;
    align-items: center;
    width: 70%;
}

.username {
    flex-direction: column;
    gap: 10px;
}

.page-buttons {
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

.page-buttons button {
    width: 120px;
    height: 48px;
    border: none;
    outline: none;
    background-color: #1992d4;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
}

.page-content {
    margin-top: 40px;
    margin-left: 50px;
    display: flex;
}

.projects {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    display: flex;
    width: 47%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(194,194,194,1);
}

.card-tag {
    background-color: #f0b429;
    height: 100%;
    width: 3%;
    margin-right: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 1px 0px 2px 0.2px rgba(0,0,0,0.75);
}

.card-content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.card-footer {
    height: 48px;
    display: flex;
    justify-content: end;
    margin-right: 40px;
    gap: 30px;
}

.content-aside {
    margin-left: 30px;
    margin-right: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.announcements {
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(194,194,194,1);
}

.announcement-part {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trending {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 1px rgba(194,194,194,1);
}

.friend {
    display: flex;
    align-items: center;
    gap: 20px;
}

.friend-img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover;
}